body {
  color: #120f2a;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #f4f2f2;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  background-color: #eceaea;
}
h3 {
  line-height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #272c32;
  padding-bottom: 5px;
}
nav {
      display: flex;
      justify-content: center;
      background-color: #333;
    }
    nav a {
      color: white;
      padding: 4px 20px;
      text-decoration: none;
      text-align: center;
    }
    nav a:hover {
      background-color: #ddd;
      color: black;
    }
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
p {
  text-indent: 20px;
}
p.small {
  text-indent: 0px;
  line-height: 100%;
}
img {
  width: 100%;
}
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #2f3237;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
iframe {
  width: 100%;
}